[Unit]
Description=facepicture serveur
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/npm start --prefix /home/pi/project/facepicture

[Install]
WantedBy=multi-user.target